.Input{
    padding: 8px 12px;
    background-color: #e0e0e2;
    border: #c9c9cc 0.4px solid ;
    border-radius: 8px;
    width: 240px;
    height: 18px;
}

.Inputs span{
    font-size: 10px;
    color: red;
}

.Inputs {
    margin-bottom: 15px;
}

.ErrorInput{
    border: red 1px solid;
}

.searchInputs input{
    border: 0;
    padding: 0 40px 0 36px;
    background-color: #edeef0;
    height: 32px;
    border-radius: 10px;
    box-shadow: inset 0px 0.5px 1px rgba(63, 63, 63, 0.05);
    font-size: 14px;
}

.searchInputs input:hover{
    background-color: #e4e5e6;
}

.searchInputs{
    padding: 8px 0;
}