.app-wrapper {
  margin: 0 auto;
  display: grid;
  width: 1200px;
  grid-template-areas: 
  "head head" 
  "bar main";

  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
}

.app-wrapper-content{
  grid-area: main;
  background-color: #dce1e6;
  padding-top: 20px;
  width: 100%;
}

