
.newsWrapper{
    display: grid;
    grid-template-columns: 550px 350px;
    border-radius: 15px;
}

.newsPanel{
    padding-left: 10px;
}

.rightPanel{
    margin-left: 10px;
}

.newPostAdd{
    padding: 10px 20px 16px 12px;
}

.profileImg{
    border-radius: 15px;
    margin-top: 8px;
    margin-left: 20px;
}

.sendMessage{
    cursor: pointer;
    border-radius: 10px;
    margin-top: 8px;
    margin-left: 20px;
}

.sendMessage:hover {
    background-color: aliceblue;
}

.newPostBlock img {
    width: 28px;
    height: 28px;
}

.newPostBlock{
    display: flex;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0.5px 1.5px rgba(63, 63, 63, 0.3);
}

.newPostAdd input{
    width: 350px;
    padding: 0;
    border: 0;
    color: rgb(49, 49, 49);
}

.Post{
    margin-top: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0.5px 1.5px rgba(63, 63, 63, 0.3);
    padding: 16px 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.postHeader span{
    font-size: 16px;
    font-weight: 500;
}

.postHeader{
    margin-bottom: 15px;
}

.postBody{
    margin-bottom: 15px;
}

.footer {
    display: flex;
}
.footerItem {
    width: 45px;
    height: 28px;
    background-color: rgba(160, 203, 245, 0.651);
    display: flex;
    align-items: center;
    border-radius: 15px;
    justify-content: space-between;
    padding: 2px 15px;
    margin-bottom: 10px;
    cursor: pointer;
    margin-right: 10px;
}

.footerItem:hover {
    background-color: rgba(162, 187, 214, 0.801);
    transition: color 0.5ms;
}

.footerItem span{
    font-weight: 500;
    color: rgba(58, 58, 58, 0.692);
    font-size: 17px;
    opacity: 0.8;
}

.footerItem img {
    width: 24px;
    height: 24px;
    opacity: 0.5;
}

.postBody img{
    width: 200px;
    height: 200px;
}

.postBody{
    font-size: 13px;
    text-align: justify;
}

.comments{
    border-top: 0.4px solid;
}

.Input{
    border: #000 1px solid;
}