.app-wrapper {
  margin: 0 auto;
  display: grid;
  background-color: #edeef0;
  width: 100%;
  position: relative;
  grid-template-areas: 
  "head head";

  grid-template-columns: 2fr 10fr;
}

.app-wrapper-content{
  position: relative;
  grid-area: main;
  background-color: #edeef0;
  padding-top: 20px;
  width: 1000px;
}

.content{
  width: 1150px;
  display: flex;
  justify-content: center;
  grid-template-areas: 
  "bar main";
  grid-template-rows: 48px 1fr;
}
